.box{
    width: 250px;
    height: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: aqua;
}
img{
    width: 60px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
}
h5{ left: 60px;
    top: 65px;
    position: absolute;
}
p{
    font-size: 10px;
}
.occupation{
    position: absolute;
    top: 100px;
    padding: 0 0 0 65px;
}
.description{
    position: absolute;
    top: 130px;
    left: 12px;
    color: red;
    padding: 0 10px 0 10px;
}
.contact{
    position: absolute;
    top: 200px;
    left: 45px;
    padding: 0 5px 0 10px;
}
